---
import type { Pokemon } from "../types";

import PokemonCard from '../components/PokemonCard.astro';
import pokemonData from '../data/pokemon.json';

const pokemonList: Pokemon[] = pokemonData.slice(0, 10);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pokemon</title>
  </head>
  <body>
    {pokemonList.map((pokemon) => (
      <PokemonCard pokemon={pokemon} />
    ))}
  </body>
</html>
