---
import type { Pokemon } from "../types";

import Layout from '../components/Layout.astro';
import PokemonCard from '../components/PokemonCard.astro';
import pokemonData from '../data/pokemon.json';

const pokemonList: Pokemon[] = pokemonData.slice(0, 10);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pokemon</title>
  </head>
  <body>
    <Layout>
      <form>
        <input
          type="text"
          name="q"
          class="p-3 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-xl border-gray-300 border-2 rounded-md"
          placeholder="Search"
        />
      </form>
    
      <div class="grid grid-cols-3 gap-5 mt-3">
        {pokemonList.map((pokemon) => (
          <a href={`/pokemon/${pokemon.id}`}>
            <PokemonCard pokemon={pokemon} />
          </a>
        ))}
      </div>
  </Layout>
  </body>
</html>
